<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pagedJS workshop</title>
    <script src="./script.js" defer></script>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🖨️</text></svg>" />
    <script>
      window.PagedConfig = { auto: false };
    </script>
    <script src="./paged.polyfill.js" defer></script>
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./interface.css" />
  </head>
  <body>
    <main> </main>
    <button onclick="window.PagedPolyfill.preview()" class="no-print"> preview</button>
  </body>
</html>
